<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @transaction.payee %>
</p>

<p>
  <strong>Note:</strong>
  <%= @transaction.note %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>From Account:</strong>
  <%= @transaction.from_account.name if @transaction.from_account %>
</p>

<p>
  <strong>To Account:</strong>
  <%= @transaction.to_account.name if @transaction.to_account %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
